@import "compass/css3";
$light-grey: #BDBDBD;

.clear{clear: both;}

.block{ border: solid 1px #eee; border-radius: 5px; @include box-shadow(#F7F7F7 1px 2px 1px 1px); padding: 15px; }
.background-img{ background-size: cover; background-position: 50% 50%;}
.fa{margin-right: 5px;}
.number-of{ line-height: 35px; margin: 0px; }
.table{display: table;}
.table-cell{display: table-cell; height: 100%;}
.v-middle{vertical-align: middle;}
.v-bottom{vertical-align: bottom;}
.text-green{color: #02CB02;}
.text-orange{color: #FFB400;}
.text-red{color: #FF0000;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

.publication-header {
    padding: 100px 0;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.2);
    .publication-category {
        color: rgba(0,0,0,0.8);
        font-size: 1.5rem;
        text-shadow: none;
    }
}

header{
    .nav{
        .nav-item{
            display: inline;
            &:first-child{
                &:after{
                    // content: " | ";
                }
            }
        }
    }
    .account-img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}
#filters{
    margin-top: 15px;
    p{
        line-height: 68px; margin: 0px;
    }
    button{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        &:last-child{margin-right: 0px;}
        &.is-checked{
            background: black;
            color: white;
        }
        &:active, &:focus{outline: none;}
    }
}

.grid-item{
    position: relative;
    .my-publication-close{
        border-radius: 5px;
        margin: 15px;
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        z-index: 999;
        .fa-times{
            padding: 10px;
            color: white;
            margin-right: 0px;
            &:hover{cursor: pointer;}
        }
    }
    .block{
        position: relative;
        height: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
        &:hover{cursor: pointer;}
        &.my-publication-conference{
            background: url('../img/bg_conference.png');
            background-position: 100% 0%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &.my-publication-article{
            background: url('../img/bg_article.png');
            background-position: 100% 0%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .my-publication{
            h5{
                @include word-break(break-all);
                @include word-break(break-word);
                // @include hyphens(auto);
                margin: 0px;
            }
            .my-publication-data{position: absolute; top: 15px; left: 15px;}
            &.my-publication-off{
                height: 100%;
                width: 100%;
                .my-publication-edit{opacity: 0; @include transition(all 0.2s ease);}
            }
            &.my-publication-on{
                cursor: initial;
                .my-publication-edit{opacity: 1; @include transition(all 0.2s ease);}
            }
            .my-publication-edit{
                height: 100%;
                border-radius: 5px;
                background: rgba(0,0,0,0.8);
                position: absolute;
                top: 0px;
                left: 0px;
                .my-publication-edit-icon{
                    position: relative;
                    float: none;
                    display: none;
                    i.fa{ @include transition(all 0.2s ease);
                          margin-right: 0px;
                          border: solid 2px white;
                          color: white;
                          border-radius: 5px;
                          padding: 10px;
                          &:hover{color: #373a3c; background-color: white;}
                    }
                }
            }
        }
    }
}
