{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% endblock %}

{% block body %}
    <header class="parallax-window">
        <img class="parallax-slider" src="{{ asset('bundles/app/img/header-bg.jpg') }}"/>
        <div class="container search-form">
            <div class="row">
                <h1 class="search-heading">Search amongst 2,154 scientific publications!</h1>
            </div>
            <div class="row">
                <form id="search-form" class="form-inline col-lg-12" action="{{ path('search') }}" method="GET">
                    <div class="input-group">
                        <select id="search" class="form-control-xl search-input" multiple="multiple" style="width:100%;" required></select>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-xl" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <section id="last-publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-lg-center home-heading">Last Publications</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme">
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                        <article>
                            <figure>
                                <img src="http://placehold.it/150x50" alt="The Pulpit Rock">
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-lg-center home-heading">About Publish UTT</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Publish UTT is a web project that references scientific articles published by researchers of the University of Technology of Troyes (UTT).<br/>
                        This project has been developed by two Informatics and Information Systems (ISI) students of that said university.<br/>
                        Using the newest web technologies : HTML5 / CSS3 / Javascript / PHP5 / Apache and the best frameworks that exist : Bootstrap / Jquery / Symfony,
                        the students managed to power this website in time!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">Copyright © 2016 | Publish UTT</span>
            <span class="text-muted pull-right"><a href="http://yassine.doghri.fr/" target="_blank">Yassine Doghri</a> & <a href="http://www.romainbrandao.fr/" target="_blank">Romain Brandao</a></span>
        </div>
    </footer>
{% endblock %}

{% block custom_javascript %}
    <script>

        $("#search").select2({
            ajax: {
                url: "{{ path("searchterm") }}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: function (data) {
                return data.label || data.text;
            }
        });

        function formatRepo(repo) {
            if (repo.loading)
                return repo.text;
            if (!repo.children) {
                var markup = $('<div />');
                markup.append($('<span />').attr('class', 'font-weight-bold').html(repo.text));
                markup.append($('<span />').html(' as '));
                markup.append($('<span />').attr('class', 'text-info').html(repo.type));
            }
            return markup;
        }

        $("#search-form").submit(function (eventObj) {
            var searchVals = $("#search").select2("val");
            $.each(searchVals, function (index, obj) {
                var name = '';
                var val = '';
                if (!isNaN(obj)) {
                    name = 'year[]';
                    val = obj;
                } else {
                    if (obj.substr(0, 2) === 'a-') { // Author
                        name = 'author[]';
                        val = obj.split('-')[1];
                    } else if (obj.substr(0, 2) === 'r-') { // Researcher
                        name = 'researcher[]';
                        val = obj.split('-')[1];
                    } else if (obj.substr(0, 2) === 't-') { // Team
                        name = 'team[]';
                        val = obj.split('-')[1];
                    } else {
                        name = 'category[]';
                        val = obj;
                    }
                }
                $('<input />').attr('type', 'hidden')
                        .attr('name', name)
                        .attr('value', val)
                        .appendTo('#search-form');
            });
            return true;
        });
    </script>
{% endblock %}