{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/search.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="header-publication">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-11 header-publication-title">
                        <h2 class="header-publication-block">The Role of Surface Structure in Normal Contact StiffnessinNormal Contact StiffnessinNormal Contact StiffnessinNormal</h2>
                        <h5 class="header-publication-block">International Conference</h5>
                    </div>
                    <div class="col-xs-12 col-md-1 header-publication-title">
                        <p class="header-publication-block text-xs-center pull-xs-left pull-md-right">2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row publication">
                <div class="about-publication">
                    <div class="col-xs-12">
                        <h3>About the Conference</h3>
                    </div>
                    <div class="col-xs-12 col-md-9 text-justify abstract">
                        <p>The effects of roughness and fractality on the normal contact stiffness of rough surfaces were investigated by considering samples of isotropically roughened aluminium. Surface features of samples were altered by polishing and by five surface mechanical treatments using different sized particles. Surface topology was characterised by interferometry-based profilometry and electron microscopy. Subsequently, the normal contact stiffness was evaluated through flat-tipped diamond nanoindentation tests employing the partial unloading method to isolate elastic deformation. Three indenter tips of various sizes were utilised in order to gain results across a wide range of stress levels. We focus on establishing relationships between interfacial stiffness and roughness descriptors, combined with the effects of the fractal dimension of surfaces over various length scales. The experimental results show that the observed contact stiffness is a power-law function of the normal force with the exponent of this relationship closely correlated to surfaces’ values of fractal dimension, yielding corresponding correlation coefficients above 90 %. A relatively weak correlation coefficient of 60 % was found between the exponent and surfaces’ RMS roughness values. The RMS roughness mainly contributes to the magnitude of the contact stiffness, when surfaces have similar fractal structures at a given loading, with a correlation coefficient of −95 %. These findings from this work can be served as the experimental basis for modelling contact stiffness on various rough surfaces.</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="publication-location"><i class="fa fa-map-marker"></i>Paris</p>
                            </div>
                        </div>
                    </div>					
                    <div class="col-xs-12 col-md-3">
                        <h3>Authors</h3>
                        <ul class="list-author">
                            <li class="label label-default"><a href="">Chongpu Zhai</a></li>
                            <li class="label label-default"><a href="">Yixiang Gan</a></li>
                            <li class="label label-default"><a href="">Dorian Hanaor</a></li>
                            <li class="label label-default"><a href="">Gwénaëlle Proust</a></li>
                            <li class="label label-default"><a href="">Delphine Retraint</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="link-publication">
                    <div class="col-xs-12">
                        <h3>External links</h3>
                    </div>
                    <div class="col-xs-12 col-md-9"><p><i>Experimental Mechanics</i></p></div>
                    <div class="col-xs-6 col-md-3"><p><span class="data-label">Type:</span> Book</p></div>
                    <div class="col-xs-6 col-md-3"><p><span class="data-label">Éditeur:</span> Springer US</p></div>
                    <div class="col-xs-4 col-md-3"><p><span class="data-label">Volume:</span> 56</p></div>
                    <div class="col-xs-4 col-md-3"><p><span class="data-label">Numéro:</span> 3</p></div>
                    <div class="col-xs-4 col-md-3"><p><span class="data-label">Pages:</span> 359–368</p></div>
                    <div class="col-xs-12"><a href="http://link.springer.com/article/10.1007%2Fs11340-015-0107-0" target="_blank">http://link.springer.com/article/10.1007%2Fs11340-015-0107-0</a></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}