{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/search.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">	
                <form class="col-xs-12 main-search text-xs-center form-inline">
                    <select class="js-example-basic-multiple form-control" multiple="multiple">
                        <option value="namex">FirstName A NAME X</option>
                        <option value="namey">FirstName B NAME Y</option>
                        <option value="namez">FirstName C NAME Z</option>
                    </select>
                    <button class="btn btn-success-outline" type="submit"><i class="fa fa-search m-r-0"></i></button>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="search-box block">
                        <h4>Filters</h4>
                        <hr>
                        <form action="">
                            <select class="form-control" name="" id="">
                                <option value="">Option X</option>
                                <option value="">Option X</option>
                                <option value="">Option X</option>
                            </select>
                            <select class="form-control" name="" id="">
                                <option value="">Option X</option>
                                <option value="">Option X</option>
                                <option value="">Option X</option>
                            </select>
                        </form>
                    </div> 
                </div>
                <div class="col-lg-9">
                    <div class="search-item-container">
                        <h2 class="pull-xs-left">Publications for FirstName NAME</h2>
                        <p class="number-of pull-xs-right">X publications</p>
                        <div class="clear"></div>
                        <div class="search-item block">
                            <div class="search-item-img background-img" style="background-image: url('http://placehold.it/200x200');"></div>
                            <div class="search-item-content">
                                <h3><a href="">Title</a></h3>
                                <ul class="search-item-author">
                                    <li class=""><a href="">FirstName NAME</a></li>
                                    <li class=""><a href="">FirstName NAME</a></li>
                                    <li class=""><a href="">FirstName NAME</a></li>
                                </ul>
                                <p class="search-item-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor diam vel lectus nullam.</p>
                                <p class="search-item-book m-b-0"><i class="fa fa-book"></i>Booktitle</p>
                                <p class="search-item-year">Year</p>
                                <a class="search-item-category" href="">Category</a>
                            </div>
                        </div>
                        <nav class="pull-xs-right">
                            <p>Page <b>Y</b> of <b>X</b></p>
                            <ul class="pager">
                                <li class="disabled"><a class="block" href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li><a class="block" href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                    <div class="collaborator-item-container">
                        <h2 class="pull-xs-left">List of collaborators</h2>
                        <p class="number-of pull-xs-right">X collaborators</p>
                        <div class="clear"></div>
                        <div class="collaborator-item block col-xs-12 col-sm-6">
                            <p><a href="">FirstName NAME</a></p>
                            <p class="m-b-0">Publication in common : X</p>
                            <p class="collaborator-item-team">Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}